@model TimeTrackerWeb.ViewModels.UserFormViewModel
@{
    ViewBag.Title = "UserForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>New User</h2>

@using (Html.BeginForm("Save", "Users"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.User.Name)
        @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Surname)
        @Html.TextBoxFor(m => m.User.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Surname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Department)
        @Html.DropDownListFor(m => m.User.Department.Id, new SelectList(Model.Departments, "Id", "Name"), "Select Department", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Position)
        @Html.DropDownListFor(m => m.User.Position.Id, new SelectList(Model.Positions, "Id", "Name"), "Select Position", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.NumberOfWorkingDaysPerWeek)
        @Html.TextBoxFor(m => m.User.NumberOfWorkingDaysPerWeek, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.NumberOfDailyWorkHours)
        @Html.TextBoxFor(m => m.User.NumberOfDailyWorkHours, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.BreakDurationHours)
        @Html.TextBoxFor(m => m.User.BreakDurationHours, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.User.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Save</button>
}


