@model TimeTrackerWeb.ViewModels.ReportsViewModel
@{
    ViewBag.Title = "UsersReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsersReports</h2>

@using (Html.BeginForm("UpdateReports", "Reports"))
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>WorkHours</th>
                <th>BreakHours</th>
                <th>TimeDifference</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var record in Model.Reports)
        {
            <tr>
                <td>@record.Id</td>
                <td>@record.Date</td>
                <td>@record.WorkHours</td>
                <td>@record.BreakHours</td>
                <td>@record.TimeDifference</td>
            </tr>
        }
        </tbody>
    </table>

    

    @Html.HiddenFor(m => m.User.Id)
    @Html.HiddenFor(m => m.UserLead.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Update Reports</button>
}